<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="DEBUG"/>
    <logger name="io.netty" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="ERROR"/>
    <logger name="org.apache.http" level="TRACE"/>
    <logger name="io.ktor.client" level="TRACE"/>
    <logger name="io.ktor.auth.jwt" level="TRACE"/>
    <logger name="Exposed" level="ERROR"/>


</configuration>
